<h1>All Discounts for <%= @merchant.name %></h1>

<section id="bulk_discounts">
  <ul>
    <% @merchant.bulk_discounts.each do |discount| %>
      <div id="discount_<%= discount.id %>">
        <li><%= link_to "#{discount.description}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %> <%= button_to "Delete this discount", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %></li>
      </div>
    <% end %>
  </ul>
</section>

<section id="new_discount">
  <p><%= link_to "Create a new discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %></p>
</section>