<h1>Invoice #<%= @invoice.id %></h1>

<%= form_with url: admin_invoice_path(@invoice), method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :status, "Status:" %>
  <%= form.select :status, ["cancelled", "completed", "in progress"], selected: @invoice.status %>
  <%= form.submit "Update Invoice Status" %>
<% end %>
<%= render partial: "shared/invoice_information" %>

<h2>Items on this Invoice:</h2>
<% @invoice.invoice_items.each do |invoice_item| %>
  <p>Item Name: <%= invoice_item.item.name %> Quantity: <%= invoice_item.quantity %> Unit Price: <%= number_to_currency((invoice_item.unit_price)/100.0) %> Status: <%= invoice_item.status %></p>
<% end %>


