<%= @merchant.name %>

<h4>Merchant Links:</h4>
<p><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></p>

<div class="top_5_customers">
  <h4>Top 5 Customers</h4>
  <% @merchant.top_5_customers.each do |customer| %>
  <p><%= customer.first_name %> <%= customer.last_name %> Successful Transactions: <%= customer.success_transactions %></p>
  <% end %>
  </div>