<h1><%= @merchant.name %> Items</h1><br>


<h3>Top 5 Most Popular Items:</h3>
<div class="top-5-items">
  <% @merchant.top_5_items.each do |item| %>
    <p><%= link_to "#{item.name}", "/merchants/#{item.merchant_id}/items/#{item.id}" %></p>
    <p>Total Revenue: $<%= @merchant.item_revenue(item) %></p>
    <p>Top day for <%= item.name %> was <%= Item.item_best_days(item).strftime('%-m/%d/%y') %></p><br>
  <% end %>
</div><br>

<div class="item-list">
<h2>Items List:</h2>
  <h3>Enabled Items:</h3>
  <div class="enabled-items">
    <% @merchant.items.select { |item| item.status == 'enabled' }.each do |item| %>
      <div id=<%=item.name%>>
        <p>
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch do |form| %>
          <%= form.hidden_field :status, value: 'disabled' %>
          <%= form.submit "Disable" %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div><br>

  <h3>Disabled Items:</h3>
  <div class="disabled-items">
    <% @merchant.items.select { |item| item.status == 'disabled' }.each do |item| %>
      <div id=<%=item.name%>>
        <p>
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch do |form| %>
          <%= form.hidden_field :status, value: 'enabled' %>
          <%= form.submit "Enable" %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div><br>

<div id="create-new-item">
  <%= link_to "Create A New Item", "/merchants/#{@merchant.id}/items/new" %>
</div>